<html>
    <head>
        <title></title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="clipboard.js"></script>
    </head>
    <body>
        <form action="" method="POST"> 
        <input type="text" placeholder="კინოს URL" name="url">
        <button type="submit">მიღება</button>
    </form>
    <h2>ინფორმაცია</h2>
    <ul>
        <li><span id="a"><%= name %></span></li>
        <li><span id="b"><%= photo %></span></li>
        <li><span id="c"><%= des %></span></li>
        <li><span id="d"><%= videoSD%></span></li>
        <li><span id="e"><%= videoHD %></span></li>
        <li><span id="f"><%= imdb %></span></li>
        
 
        <script>
 
        var span = document.querySelectorAll("span");
     
for(i=0;i<span.length;i++) {
  console.log(span[i].innerHTML);
span[i].onclick = function() {
  document.execCommand("copy");
}
let txt = span[i];

span[i].addEventListener("copy", function(event) {
  
  event.preventDefault();
  if (event.clipboardData) {
    event.clipboardData.setData("text/plain", txt.innerHTML);
    console.log(event.clipboardData.getData("text"))
  }
});
}  
 
    
    
    </script>
    </ul>
    </body>
</html>
